
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

@include mat.core();

/*
*
* Light Theme setup
*
*/

$fintech-frontend-primary: mat.define-palette(mat.$indigo-palette);
$fintech-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$fintech-frontend-warn: mat.define-palette(mat.$red-palette);

$fintech-frontend-theme: mat.define-light-theme((
  color: (
    primary: $fintech-frontend-primary,
    accent: $fintech-frontend-accent,
    warn: $fintech-frontend-warn,
  )
));

/*
*
* Dark Theme setup
*
*/
$fintech-frontend-dark-primary: mat.define-palette(mat.$blue-palette, 300);
$fintech-frontend-dark-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$fintech-frontend-dark-warn: mat.define-palette(mat.$red-palette);

$fintech-frontend-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $fintech-frontend-dark-primary,
        accent: $fintech-frontend-dark-accent,
        warn: $fintech-frontend-dark-warn,
      ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fintech-frontend-theme);
.darkMode {
  @include mat.all-component-colors($fintech-frontend-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-slide-toggle span.mat-slide-toggle-content { max-height: 100%; }

@import "./assets/styles/auth";
